body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header img {
    max-width: 200px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.menu-item {
    width: 250px;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    overflow: auto;
}

.menu-item:hover {
    transform: scale(1.1);
}

.menu-item img {
    width: 100%;
    border-radius: 5px;
}

.descripcion {
    margin-top: 10px;
}

.descripcion h2 {
    margin: 5px 0;
}

.descripcion p {
    font-size: 14px;
    color: #444;
}
