	@charset "utf-8";
body header { 
background-color: #2CA6E9; 
text-align: center; 
color: #FD8DOO; 
text-shadow: 3px 2px #060606; 
font-family: Constantia, "Lucida Bright", "DejaVu Serif",
Georgia, serif; 
font-size: xx-large; }

.descripcion { width: 900px; 
background-color: #EFFDFC; 
text-align: justify; 
font-size: 30px; 
border-top-right-radius: 58px; 
border-top-left-radius: 58px;
padding-top: 1em; 
padding-right: 1em; 
padding-bottom: 1em;
padding-left: 1em; 
display: inline; 
border-style: solid; 
border-color: #F3060A;
-webkit-box-shadow: 12px 12px Opx 3px #D5D4D4; 
box-shadow: 12px 12px Opx 3px #D5D4D4;

position: absolute; 
left: 50%; transform: translate(-50%, 0%);
-webkit-transform: translate(-50%, 0%); }

.menu{ 
color: #A69D9D; 
margin-bottom: 5px; 
padding-bottom: 3px; 
padding-top: 3px; 
padding-right: 3px; 
padding-left: 3px; 
background-color: #0AD5FF; 
text-align: center; 
position: relative;
}

.menu ul { 
background-color: #F4F4F4; 
margin: 0; 
padding: 0; 
border: 1px solid #7C7C7C; 
overflow: hidden;
list-style-type: none;}

.menu ul li { 
float: left; 
width: 100px;
}

.menu ul li:hover { 
background-color: #EDCAA2;
}

ul li a { 
border-left: 1px solid #FFFFFF; 
border-right: 1px solid #7C7C7C; 
text-shadow: 0px 0px #333333; 
padding: .3em; 
display: block; 
text-decoration: none;
}
ul li a:hover { 
color: #F7080C;}
